<h1 *ngIf="id">UPDATE ACCOUNT FORM</h1>
<h1 *ngIf="!id">CREATE ACCOUNT FORM</h1>
<form [formGroup]="accountForm">
    <label>Account Name</label>
    <input type="text" formControlName="account_name">
    <br>
    <label>Balance</label>
    <input type="text" formControlName="available_balance">
    <br>
    <label>Account Number</label>
    <input type="text" formControlName="account_number">
    <br>
    <label>City</label>
    <input type="text" formControlName="city">
    <br>
    <label>Image</label>
    <input type="text" formControlName="accountprofie_picture">
    <br>
    <button (click)="submit()">{{id ? 'update' : 'create'}}</button>
</form>
