form{
    height: 100%;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
  
}
label{
    display: inline-block;
    width: 20px;
    height: 15px;
     margin: 25px; 

}
input{
    margin: 10px;
   
}
button{
margin-left: 100px;
}
h1{
    text-align: center;
}
p{
    color: red;
}