<div class="pa">
    <h1 class="P">FLIPKART PRODUCTS</h1>
<div class="aa">
       
        <div class="bb" *ngFor="let flipkarts of flipkart">
                <img class="q" src="{{flipkarts.image}}" alt="">
                <p class="w">{{flipkarts.title}}</p>
               
                <!-- <p>{{flipkarts.description}}</p> -->
                <p class="i">{{flipkarts.category}}</p>
                
                <!-- <p>{{flipkarts.id}}</p> -->
                <p class="y"><b class="mm">({{flipkarts.rating.rate}})</b>
                           &nbsp;
                 <b>({{flipkarts.rating.count}})</b> </p>
                   <p class="t">{{flipkarts.price}}</p>
                </div> >

            </div>
            

      

    

</div>
