
<h1 *ngFor="let age of names">{{age}}</h1>
<select name="" id="">
<option *ngFor="let state of states">{{state}}</option>
</select>

<h1 *ngFor="let product of products">{{product.name}} price is  {{product.price}}</h1>

<table table class="table table-dark">
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>
                {{product.name}}
            </td>
            <td>
                {{product.price}}
            </td>

        </tr>
    </tbody>
</table>

<h1 *ngIf="true">hello</h1>
<h1 *ngIf="false">hello</h1>

<input type="text" [(ngModel)]="numb">
<h1 *ngIf="numb<0">negative</h1>
<h1 *ngIf="numb>0">positive</h1>
<h1 *ngIf="numb==0">zero</h1>






