
<div class="parent">
    <div class="left">
        <h3 routerLink="Login">Login</h3>
        <h3 routerLink="marks">marks</h3>
        <h3 routerLink="pipes">pipes</h3>
        <h3 routerLink="event">Event</h3>
        <h3 routerLink="car">Cars</h3>
        <h3 routerLink="user-form">User-form</h3>
        <h3 routerLink="create-user">Create-User</h3>
        <h3 routerLink="bank">Banks</h3>
        <h3 routerLink="flipkart">Flipkart</h3>
        <h3 routerLink="vehicle">Vehicles</h3>
        <h3 routerLink="mail">Mails</h3>
        <h3 routerLink="gallery">Gallery</h3>
        <h3 routerLink="activity">Activity</h3>
        <h3 routerLink="users">Users</h3>
        <h3 routerLink="account">Accounts</h3>
        <h3 routerLink="student">Student</h3>
        <h3 routerLink="products">Products</h3>
        <h3 routerLink="anudeep">ANUDEEP</h3>
       
        
        <h3 routerLink="structuraldirectvies">structuraldirectvies</h3>
        <button class="logout" (click)="logout()">Logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>